Code/Sources/VOI.SISAC.Business/Service References/Notifications/ServiceNotifications.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.32.14:8005/WCFNotificationsV2/ServiceNotifications.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFVOINotifications.Response" />
  <xs:element name="GetAuthenticationToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthenticationTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthenticationTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMailsAddressTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodyMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHTML" type="xs:boolean" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFVOINotifications.Response" minOccurs="0" name="SendEmailResult" nillable="true" type="q1:GenericResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMailsAddressTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodyMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHTML" type="xs:boolean" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFVOINotifications.Response" minOccurs="0" name="SendEmailSubjectResult" nillable="true" type="q2:GenericResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailAttachedFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMailsAddressTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodyMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHTML" type="xs:boolean" />
        <xs:element minOccurs="0" name="attachedFile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="attachedFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailAttachedFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFVOINotifications.Response" minOccurs="0" name="SendEmailAttachedFileResult" nillable="true" type="q3:GenericResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>