Code/Sources/VOI.SISAC.Business/Service References/Notifications/ServiceNotifications1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFVOINotifications.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFVOINotifications.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GenericResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericResponse" nillable="true" type="tns:GenericResponse" />
</xs:schema>